* {
    box-sizing: border-box;
}

body {
    background-color: rgb(177, 177, 177) !important;
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: white !important;
    padding: 0px 0px 0px 0px !important;
    width: 100%;
}

.navbar-nav {
    text-align: right;
    clear: both;
    margin-left: 60%;
    margin-right: 0px;
}

.nav-link .navbar {
    color: rgb(194, 188, 188) !important;
}

.navbar-brand {
    font-size: 30px !important;
    font-weight: 700;
    background-color: #009999;
    color: white !important;
    padding: 20px 20px !important;
    margin: 0px 0px 0px 30px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
}

.container-fluid {
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    overflow: auto;
    line-height: 22px;
    padding: 30px 30px 30px 30px;
    float: left;
    margin-left: 30px !important;
    position: relative;
    width: 60% !important;
    margin: 30px 200px 50px 30px;
    background-color: white;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #009999;
    font-size: 25px;
    font-weight: 600;
    padding: 0px 20px 10px 0px;
    margin: 5px 5px 20px 10px;
    border-bottom: rgb(194, 188, 188) 2px solid;
}

.col-md-6 {
    margin: auto;
}

h3 {
    text-align: center;
    background-color: #009999;
    opacity: 0.7;
    border-radius: 15px;
    border-right: white 10px double;
    border-left: white 10px double;
    color: white;
    position: relative;
    margin: 0px;
    padding: 3px 10px;
    z-index: 1;
}

img {
    display: flex;
    max-width: 100%;
    height: 100%;
}

.links {
    margin: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.repolinks {
    color: white !important;
    text-decoration: none !important;
}

button {
    color: white;
    text-align: center;
    background-color: #009999;
    opacity: 0.7;
    border-radius: 15px;
    position: relative;
    margin: 10px;
    padding: 3px 15px;
}

.footer {
    overflow: hidden;
    margin-top: 60px;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: #009999 solid 5px;
    background-color: grey;
    color: white;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
    }
    .navbar-nav {
        margin-left: 40%;
    }
    .container-fluid {
        width: 90% !important;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        width: 100%;
    }
    .navbar-brand {
        width: 100%;
        margin: 0px 0px 0px 0px !important;
        text-align: center;
    }
    .navbar-nav {
        margin-left: 0%;
        text-align: center;
        padding: 0px;
        width: 33.33%;
        display: inline-block;
    }
    .container-fluid {
        width: 95% !important;
        margin-left: 10px !important;
    }
    .nature {
        margin-bottom: 40px;
    }
    h2 {
        font-size: 20px !important;
        position: absolute;
        bottom: 3px;
    }
}